body {
	background-image: url("http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg");
	color: white;
	overflow: hidden;
	font-family: sans-serif;
}

.current img {	
	transform: scale(1.25, 1.25);
	padding: 1px;
	margin: 10px;
}

.thumbnail img {
	width: 124px;
	height: 70px;
}
 
#cursor {
	border: 2px solid white;
}

.date-selector {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.date-selector > * {
	box-sizing: border-box;
	margin: 20px;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#carousel {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.thumbnail {
	left: 0;
	margin: 5px;
	transition: left 1s linear;
}

/*TODO: .thumbnail h1 centering is off for even numbered games, needs to be fixed*/

#carousel-header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -200%);
}

#carousel-footer {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.offset {
	transform: translate(calc(-50% - 67px), -50%);
}

.offset #carousel-header {
	transform: translate(calc(-50% + 62px), -200%);

}

.offset #carousel-footer {
	transform: translate(calc(-50% + 62px));
}

#modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100vw;
	height: 100vh ;
	background-color: rgba(0,0,0,.7);
}

#modal-content {
	position: absolute;
	height: 50vh;
	width: 50vh;
	padding: 20px;
	background: #707070;
	border-radius: 15px;
	display: flex column;
}

#modal-content h1 {
	text-align: center;
	margin-top: 0px;
}

.broadcast-info {
	max-width: 90%;
}